<div class="container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          User Register
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- <p>This is the primary content of the panel.</p> -->
      <div class="table">
        <form [formGroup]="userRegisterForm" (ngSubmit)="registerFormSubmission()">
          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>First name</mat-label>
                <input type="text" placeholder="First name" formControlName="firstName" matInput>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Last name</mat-label>
                <input matInput type="text" placeholder="Last name" formControlName="lastName">
              </mat-form-field>
            </div>
          </div>
          <div class="fullwidth">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input type="email" placeholder="Email" matInput formControlName="email">
            </mat-form-field>
          </div>
          <div class="row">
            <div class="cell">
              <mat-form-field>
                <mat-label>DOB</mat-label>
                <input matInput type="date" placeholder="date-of-birth" formControlName="dob" (blur)="ageCalculator()">
              </mat-form-field>
            </div>
            <div class="cell">
              <mat-form-field>
                <mat-label>Age</mat-label>
                <input type="number" readonly placeholder="Age" matInput formControlName="age">
              </mat-form-field>
            </div>
            <div class="cell" id="last">
              <mat-form-field>
                <mat-label>Mobile</mat-label>
                <input matInput type="number" placeholder="Mobile number" formControlName="mobile">
              </mat-form-field>
            </div>
          </div>
          <div class="fullwidth">
            <mat-form-field>
              <mat-label>Address</mat-label>
              <textarea matInput placeholder="Enter your address" formControlName="address"></textarea>
            </mat-form-field>
          </div>
          <div class="fullwidth">
            <mat-card-actions>
              <button mat-raised-button color="primary" type="submit">Register</button>
              <button mat-raised-button type="reset" color="warn">Cancel</button>
            </mat-card-actions>
          </div>
        </form>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>