.container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: lightseagreen;
    max-width: 100%;
}

#left {
    display: flex;
    gap: 10px;
}

#right {
    display: flex;
    gap: 10px;
}

a {
    font-size: 20px;
    color: black;
}